<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">
	<bean id="cityService" class="com.zline.zlogistics.biz.manager.impl.CityServiceImpl"></bean>
	<bean id="distributionStationService" class="com.zline.zlogistics.biz.manager.impl.DistributionStationServiceImpl"></bean>
	<bean id="distributionMemberService" class="com.zline.zlogistics.biz.manager.impl.DistributionMemberServiceImpl"></bean>
	<bean id="scheduleService" class="com.zline.zlogistics.biz.manager.impl.ScheduleServiceImpl">
	  <property name="memberScheduleService" ref="memberScheduleService"></property>
	  <property name="shiftScheduleService" ref="shiftScheduleService"></property>
	  <property name="distributionStationService" ref="distributionStationService"></property>
	  <property name="memberService" ref="distributionMemberService"></property>
	</bean>
	<bean id="memberScheduleService" class="com.zline.zlogistics.biz.manager.impl.MemberScheduleServiceImpl"></bean>
	<bean id="shiftScheduleService" class="com.zline.zlogistics.biz.manager.impl.ShiftScheduleServiceImpl"></bean>
	<bean id="attendanceService" class="com.zline.zlogistics.biz.manager.impl.AttendanceServiceImpl"></bean>
	<bean id="leaveInfoService" class="com.zline.zlogistics.biz.manager.impl.LeaveInfoServiceImpl"></bean>
	<bean id="menuService" class="com.zline.zlogistics.biz.manager.impl.MenuServiceImpl"></bean>
    <bean id="memberClockService" class="com.zline.zlogistics.biz.manager.impl.MemberClockServiceImpl"></bean>
    <bean id="logisticsTimerService" class="com.zline.zlogistics.biz.manager.impl.ILogisticsTimerServiceImpl"></bean>
    

	<bean id="logisticsOrderService" class="com.zline.zlogistics.biz.manager.impl.LogisticsOrderServiceImpl"></bean>
	<bean id="balanceService" class="com.zline.zlogistics.biz.manager.impl.BalanceServiceImpl"></bean>
	<bean id="userService" class="com.zline.zlogistics.biz.manager.impl.UserServiceImpl"></bean>
	<bean id="lossService" class="com.zline.zlogistics.biz.manager.impl.ILossServiceImpl"></bean>
	<bean id="orderStatusService" class="com.zline.zlogistics.biz.manager.impl.OrderStatusServiceImpl"></bean>
</beans>